{% extends 'main/layout.html' %}

{% block content %}
<style>
    form {
        background: none;
        padding: 0;
        border: none;
        box-shadow: none;
        width: auto;
        max-width: none;
        box-sizing: content-box;
    }
    .delete-button {
        margin-left: 10px;
    }
    .messages-container {
        margin-top: 20px;
    }
    .submit-button {
        margin-left: 0;
    }
</style>

<div class="form-container">

    <h2>Список зарегистрированных изделий</h2>
<form id="print-form" method="post" action="{% url 'generate_pdf' %}">
    {% csrf_token %}
    <div class="record-list">
        {% for record in records %}
            <div class="record-item">
                <input type="checkbox" id="scales-{{ record.id }}" name="scales[]" value="{{ record.id }}" checked>
                {{ record.combined_field }}
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="Печать" class="submit-button">
</form>


    <form id="delete-form" method="post" action="{% url 'delete_records' %}">
        {% csrf_token %}
        <div class="record-list">
            {% for record in records %}
                <!-- Используем те же чекбоксы -->
                <input type="hidden" name="scales[]" value="{{ record.id }}">
            {% endfor %}
        </div>
        <input type="submit" value="Удалить" class="submit-button delete-button">
    </form>


</div>
<div class="messages-container">
    {% if messages %}
        {% for message in messages %}
            <p class="success">{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}