{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <style>
        .center-text {
            margin-top: 100px; /* Увеличьте значение для большего отступа */
            text-align: center; /* Если требуется центрировать текст */
        }
    </style>

    <div class="center-text">
        <h1>О нас</h1>
        <h3>BoardTracker предназначен для мониторинга и управления процессами производства, хранения и эксплуатации электронного оборудования.</h3>
        <h3>Для начала работы Вам необходимо зерегистрироваться и войти в аккаунт, нажав на кнопку "Авторизация" в верхнем правом углу.</h3>
        <h3>Открыв сайдбар слева, вы можете:</h3>
<h3 style="text-indent: 20px;"> - Во вкладке "Регистрация изделий" внести в базу данных инфомацию об электрических изделиях</h3>
<h3 style="text-indent: 20px;"> - Во вкладке "История регистрации изделий" ознакомиться с изделиями, зарегистрированными под вашим аккаунтом. При необходимости можно удалить запись из базы данных.</h3>
<h3 style="text-indent: 20px;"> - Во вкладке "Статус изделий" ознакомиться с полными данными электрического изделия, отсканировав Qr код или внеся его серийный номер.</h3>

<h3 style="margin-top: 500px;">ВНИМАНИЕ! ПРИ УТРАТЕ ЛОГИНА ИЛИ ПАРОЛЯ ОБРАТИТЕСЬ К АДМИНИСТРАТОРУ!</h3>

    </div>
{% endblock %}