{% extends 'main/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="form-container">
        <form method="get" action="{% url 'status' %}" onsubmit="removeSpaces()">
            <label for="serial-number">Отсканируйте QR код или введите серийный номер:</label>
            <input type="text" id="serial-number" name="serial_number" value="{{ serial_number|default_if_none:'' }}" required autofocus>
            <button type="submit" class="submit-button">Отправить</button>
        </form><br><br>

        {% if module_info %}
            <div id="module-info" class="info-section">
                <h2>Информация о модуле</h2>
                <table>
                    <tbody>
                        <tr>
                            <td style="padding-right: 20px;">Семейство изделия:</td>
                            <td>{{ module_info.info_product_family }}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 20px;">Тип изделия:</td>
                            <td>{{ module_info.info_product_type }}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 20px;">Ревизия:</td>
                            <td>{{ module_info.info_revision }}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 20px;">Производитель:</td>
                            <td>{{ module_info.info_manufacturer }}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 20px;">Номер еЦ:</td>
                            <td>{{ module_info.info_ec_number }}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 20px;">Дата производства:</td>
                            <td>{{ production_date  }}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 20px;">Номер изделия:</td>
                            <td>{{ module_number  }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Информация о модуле отсутствует</p>
        {% endif %}
    </div>
{% endblock %}
